{% extends 'base.html.twig' %}

{% block body %}

	<form id="deposit" action="{{ path( 'deposit')}}" method="post">

		<div class="form-group">
			<label for="depositMoney">Montant</label>
			<input type="text" class="form-control" name="_money" id="depositMoney" placeholder="2000">
			<small id="depositMoneyHelp" class="form-text text-muted">La somme de l'argent est en Ariary.</small>
		</div>
		<button type="submit" class="btn btn-primary mt-3">Deposer</button>

	</form>

{% endblock %}
