{% extends 'base.html.twig' %}

{% block body %}
	<div class="container">
		<div class="mx-auto my-5 login px-4 pt-1 pb-3">
			<ul class="slogan">
				<li>Fixe</li>
				<li>Mobile</li>
				<li>Internet</li>
				<li>Mvola</li>
			</ul>
			<h1 class="text-center">Creer un nouveau compte</h1>
			{{ form(form) }}
			</div>
		</div>
	{% endblock %}
